<div class="round-page">
    <mat-card class="header-card">
        <div class="vertical-padding">
            <mat-card-title>
                Round {{ currentRound() }}
            </mat-card-title>

            <mat-card-subtitle>
                Koi-Koi Counter
            </mat-card-subtitle>
        </div>
    </mat-card>

    <section class="scores-section">
        @for (player of players(); track player.id) {
            <mat-card
                class="score-card"
                [class.winner-selected]="winnerId() === player.id"
            >
                <mat-card-content>
                    <div class="score-card-content">
                        <div>
                            <h3>{{ player.name }}</h3>
                            <p>Score</p>
                        </div>

                        <div class="score-value">
                            {{ player.score }}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        }
    </section>

    <mat-card class="round-card">
        <mat-card-header class="round-card">
            <mat-card-title>
                Winner
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-radio-group
                class="winner-group"
                [value]="winnerId()"
            >
                @for (player of players(); track player.id) {
                    <mat-radio-button
                        [value]="player.id"
                        (change)="winnerId.set(player.id)"
                    >
                        {{ player.name }}
                    </mat-radio-button>
                }
            </mat-radio-group>
        </mat-card-content>
    </mat-card>

    <app-yaku-selector
        [yakus]="yakus"
        [selectedYakus]="selectedYakus()"
        (yakuSelected)="selectYaku($event)"
        (yakuDeselected)="deselectYaku($event)"
    />

    <mat-card class="round-card">
        <mat-card-header class="round-card">
            <mat-card-title>
                Koi-Koi Bonus
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field
                appearance="outline"
                class="full-width"
            >
                <mat-label>
                    Koi-Koi Count
                </mat-label>

                <input
                    matInput
                    type="number"
                    [value]="koiKoiCount()"
                    (input)="koiKoiCount.set(Math.abs($any($event.target).valueAsNumber))"
                    min="0"
                    step="1"
                />
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card class="value-card">
        <mat-card-content>
            <div class="value-content">
                <div>
                    <p class="value-label">
                        Round Value
                    </p>

                    <h1>
                        {{ roundValue() }}
                    </h1>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="actions">
        <button
            mat-flat-button
            color="primary"
            class="action-button"
            [disabled]="!validRound()"
            (click)="applyRound()"
        >
            Submit Round
        </button>

        <button
            mat-stroked-button
            class="action-button"
            (click)="resetRound()"
        >
            Reset
        </button>
    </div>
</div>
