<section class="setup-section">

    <h2>Custom Yaku Values</h2>

    <div class="yaku-grid">

        @for (yaku of yakus(); track yaku.id) {
            <mat-form-field
                appearance="outline"
                class="full-width"
            >
                <mat-label>
                    {{ yaku.name }}
                </mat-label>

                <input
                    matInput
                    type="number"
                    [value]="Math.abs(values()[yaku.id])"
                    (input)="updateValue(yaku.id, +$any($event.target).value)"
                    min="1"
                    step="1"
                />
            </mat-form-field>
        }

    </div>

</section>


<!--<section class="setup-section">
    <h2>Custom Yaku Values</h2>

    @for (yaku of yakus(); track yaku.id) {
        <label>
            {{ yaku.name }}

            <input
                type="number"
                [value]="Math.abs(values()[yaku.id])"
                (input)="updateValue(
                    yaku.id,
                    +$any($event.target).value
                )"
                min="1"
                step="1"
            />
        </label>
    }
</section>-->

